$primaryColor: #1799da;
$secondaryColor: #e8330f;

.banner{
		background-image: url("../images/hatchBG.png");
		background-position: center;
		border-bottom: 4px dashed $secondaryColor;
		opacity: .85;
		height: 400px;
		margin-top:-50px;
		.rw-wrapper{
			width: 750px;
			position: relative;
			margin: 130px auto 0 50px;
			padding: 10px;
			background-color: black;
			opacity: .7;
			color: white;
			.rw-sentence{
				margin-left: 5px;
				text-align: left;
				height: 125px;
				span{
					font-size: 50px;
				}
			.rw-words{
				display: inline;
				text-indent: 10px;
				span{
					height: 100px;
					position: absolute;
					opacity: 0;
					overflow: hidden;
					-webkit-animation: rotateWord 18s linear infinite 0s;
					-ms-animation: rotateWord 18s linear infinite 0s;
					animation: rotateWord 18s linear infinite 0s;
				}
				span:nth-child(2) { 
				    -webkit-animation-delay: 3s; 
					-ms-animation-delay: 3s; 
					animation-delay: 3s; 
				}
				span:nth-child(3) { 
				    -webkit-animation-delay: 6s; 
					-ms-animation-delay: 6s; 
					animation-delay: 6s; 
				}
				span:nth-child(4) { 
				    -webkit-animation-delay: 9s; 
					-ms-animation-delay: 9s; 
					animation-delay: 9s; 
				}
				span:nth-child(5) { 
				    -webkit-animation-delay: 12s; 
					-ms-animation-delay: 12s; 
					animation-delay: 12s; 
				}
				span:nth-child(6) { 
				    -webkit-animation-delay: 15s; 
					-ms-animation-delay: 15s; 
					animation-delay: 15s; 
				}
			}
			}
		}		
	}