$primaryColor: #1799da;
$secondaryColor: #e8330f;	

	header {
		height: 120px;
		width: 100%;
		background-color: $primaryColor;
		z-index: 999;
		position:relative;
		.leftColumn{
			height: 100%;
			#tShirtIcon {
				height: 90%;
		 		display: block;
		 		margin: 5px auto;
		 		float: left;
				path {
		  			stroke:white;
				}
			}
		}
		h2 {
			color: white;
			margin-left:100px;
		}

		.rightColumn{
			text-align: right;
			margin-top: 35px;
				h5 {
					color:white;
					text-transform: uppercase;
					display:inline-block;
			    	&:hover {
			    		cursor: pointer;
			    	}
			}
			.fa-shopping-cart {
				margin-top: 25px;				
				font-size: 50px;
				color: white;
				:hover {
					animation: cartGrow 1.5s ease;
	  				animation-iteration-count: 1;
      				cursor: pointer;
	  			}
			}
		}
		.menuBar {
			height: 45px;
			background-color: $secondaryColor;
			opacity: .9;
			ul {
				padding-top: 12px;
				list-style-type: none;
				font-size: 16px;
				li{
					display:inline;
					a {
						padding: 0px 2%;
						margin-left: 13%;
						color: white;
					}
					:hover{
						text-decoration: none;
						cursor: pointer;
					}						
				}
			}
		}
		.mobileMenu{
			display:block;
			width: 40px;
			height: 40px;
			float: right;
			margin-top: -100px;
			margin-right: 20px;
			.fa {
				font-size: 30px;
				color:white;
			}
			li{
				display:none;
				margin-right: 50px;
			}
			&:hover {
				cursor: pointer;
				ul {
					list-style: none;
					background-color: white;
					border: 1px solid $secondaryColor;
					width: 100px;
					margin-left: -100px;				
					li {
					display: inline-block;
					padding: 5px;
					margin: 0 auto;
					margin-left: 20px;
					text-align: center;					
					}
				}
			}
		}	
	}

	footer {
		height: 100px;
		background-color: $primaryColor;
		border-top: 4px solid $secondaryColor;
		color: white;
		.leftColumn{
			height: 100%;
			ul {
				list-style-type: none;
				font-size: 14px;
				margin-top: 15px;
				li{
					display:inline;
					a {
						margin-left: 10%;
						color: white;
					}
					:hover{
						text-decoration: none;
						cursor: pointer;
					}						
				}
			}
		}	
		.rightColumn{
			height: 100%;
			#tShirtIcon {
				height: 90%;
		 		display: block;
		 		margin: 5px 15px 0 auto;
		 		float: right;
				path {
		  			stroke:white;
				}
			}
		}
	}	
