$primary-border: 2px solid #1799da;
$primaryColor: #1799da;

@mixin widthsize ($width){
    width: $width;
}

@import 'animations';

.featured{
  padding-left: 2% !important;
  padding-right: 0% !important;
}

.ColumnOne, .ColumnTwo, .ColumnThree{
  width: 360px;
  margin-right: 0px;
  padding-right: 0px;
  margin: 0 auto;
  display: block;
}
.products{
  margin-top:5%;
  margin-bottom: 5%;
  margin-left: 0px;
}

.tshirtbox {
  font-size: 0px;
  width: 355px;

  .flipcontainer {
    border: $primary-border;
    display: inline-block;
    height: 250px;
    width: 90%;

    img {
      max-width: 95%;
      max-height:240px;
    }
      .rotatebox {
      width: 30px;
      height: 25px;
      border: $primary-border;
      display: inline-block;
      vertical-align: top;
      float: right;
      border-top: none;
      border-right: none;
      z-index: 1000;
      position: relative;
      padding-bottom: 0px;

        &:hover {
          background-color: $primaryColor;
        &:hover i {
          color: white !important; }
        }

        .fa-repeat {
          color: $primaryColor;
          transform: rotateY(180deg) rotate(200deg);
          font-size: 15px !important;
          margin-left: 7px;
          margin-top: 5px; 
        }
     }
  }
}

.iconbar {
  height: 50px;
  font-size:0;

  .icon {
    width: 17%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size:14px;
    border-bottom: $primary-border; 

    .xl {
      margin-top: 12px;
      margin-left: 18px;
      font-size: 15px;
      color: $primaryColor;
    }
    
    .colorbox {
      width: 20px;
      height: 20px;
      border: 2px solid white;
      display: inline-block;
      margin: 4px 0px 0px 18px; }

      .boxBlue {
        background-color: #81BCE6
      } 
      .boxPink {
        background-color: #D482AA;
      }  
      .boxOrange {
        background-color: #DCB07D;
      }   

    &:hover {
      background-color: $primaryColor;
      cursor: pointer; }

    &:hover i {
      color: white;
      cursor: pointer; } 
    
    &:hover p {
      color: white;
      cursor: pointer; }

    &:nth-child(odd) {
      border-right: $primary-border;
      border-left: $primary-border; }       

    .fa {
      padding-left: 18px;
      padding-top: 15px;
      color: $primaryColor; 
      font-size: 18px; 
    } 
  } 
}

.sizecontent {
  display: none;
  position: relative;
  width: 55px;
  background-color: white;
  border: $primary-border;
  margin: 0 auto;
  margin-top: -176px;
  padding-bottom: 5px; 
  
  .arrowsize {
    width: 9px;
    height: 9px;
    border-top: $primary-border;
    border-left: $primary-border;
    display: inline-block;
    background-color: white;
    position: absolute;
    display: none;
    transform: rotate(225deg);
    margin-top: 116px;
    margin-left: 20px; }}
  
  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    padding-top: 10px;
  
    img {
      width: 60%;
      height: 60%;
      display: inline-block;
      margin-left:10px; }}


.three:hover .sizecontent {
  display:block;
  z-index: 100;
    -webkit-animation: bounce 1s ease;
        animation: bounce 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  .arrowsize  {
    display:block;
    z-index: 101;
}}


.colorcontent {
  display: none;
  position: relative;
  width: 55px;
  background-color: white;
  border: $primary-border;
  margin: 0 auto;
  margin-top: -151px;
  padding:0; 
   
  .arrowcolor {
    width: 9px;
    height: 9px;
    border-top: $primary-border;
    border-left: $primary-border;
    display: inline-block;
    background-color: white;
    position: absolute;
    display: none;
    transform: rotate(225deg);
    margin-top: 90px;
    margin-left: 22px; 
    }
  }

.fa-stop {
  font-size: 20px !important;
  padding:0px !important;
  margin-left: 18px;
}
.blue {
  color: #5ba3d6 !important; 
  }

.pink {
  color: #D482AA !important;
 }

.green {
  color: #569624 !important; }

.orange {
  color: #DCB07D !important; }

.four:hover .colorcontent {
  display:block;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
    -webkit-animation: bounce 1s ease;
        animation: bounce 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
.arrowcolor  {
  display:block;
  z-index: 101;
  }
}

.active{
  background-color: $primaryColor;
  .fa{
    color: white !important;
  }
}

.textbar {
    @include widthsize(92%);
    margin-left:-5px;
    p { 
    color:$primaryColor;
    font-size: 15px;
    margin-left: -10px;
    margin-top: 5px;
  }
   .itemprice p{
      font-weight: bold;
      text-align: right;
      margin-right:2px;
    }
}

.flip-container {
  perspective: 1000px; }

.rotatebox:active + .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 90%;
  height: 90%;
  margin-top: 5px;
  margin-left: 25px; }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 50;
  transform: rotateY(0deg); }

.back {
  transform: rotateY(180deg);
  margin-left: -7px; }


 .shoppingCart{
  border: $primary-border;
  color:$primaryColor;
  margin-top:5%;
  padding-top:10px;
  padding-left: 10px;
  min-height: 100px;
    .totalBox {
      position: absolute;
      padding-bottom: 0px;
      right:0;
      bottom:0;
      p{
        color:$primaryColor;
        text-align:right;
        line-height: 14px;
        font-size:16px;
      }
        p.total {
          font-size: 18px;
          line-height: 18px;
        }
    }
  } 