$primaryColor: #1799da;
$secondaryColor: #e8330f;

@import 'headerFooter';
@import 'banner';
@import 'products';
@import 'animations';
@import 'mixin';
@import 'contact';
@import 'about';



.noPadding {
	padding: 0px;
}
body{
	font-family: futura, sans open, sans;
	h4{
		color: $primaryColor;
	}			
	.featured{
		margin: 0 auto;
		padding: 5%;
		padding-bottom: 5%;
		padding-top: 3%;
	}
}









